@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

.p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Silkscreen", monospace;
    color: #000000;
    text-align: "center";
    font-size: 2rem;
  }
  